<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="/css/estilos.css" rel="stylesheet">

</head>

<body>


    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">TodoList</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </nav>




    <div class="row">
        <div class="col-3">

        </div>

        <div class="col-6" id="app">


            <div align="center" style="margin-bottom: 30px">
                <button class="btn btn-primary" type="button" data-toggle="collapse" :data-target="`#collapseExample${lista.id}`"
                    aria-expanded="true" :aria-controls="`#collapseExample${lista.id}`" v-for="lista in listas"
                    v-bind:id="lista.id" v-bind:value="lista" v-on:click="itensEmListaSelecionada(lista)">
                    {{lista.nome}}
                </button>
            </div>

            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>

            </div>

            <div class="collapsed" v-bind:id="`#collapseExample${lista.id}`">
                <div class="row">
                    <div class="col-2">
                        1 of 3
                    </div>
                    <div class="col-8">
                        <div v-for="item in itens">

                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" v-bind:id="`ch${item.id}`">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" data-toggle="collapse" :data-target="`#collapseOne${item.id}`"
                                                :aria-controls="`collapseOne${item.id}`">
                                                {{item.titulo}}
                                            </button>

                                            <button class="btn btn-secondary float-right" type="button" data-toggle="modal"
                                                data-target="#formItem">
                                                Add
                                            </button>
                                        </h5>
                                    </div>

                                    <div v-bind:id="`collapseOne${item.id}`" class="collapse" :aria-labelledby="`ch${item.id}`"
                                        data-parent="#accordion">
                                        <div class="card-body">

                                            <div class="col">
                                                <label class="item-label">ID</label><br>
                                                {{item.id}}
                                            </div>
                                            <div class="col">
                                                <label class=" item-label">Titulo</label><br>
                                                {{item.titulo}}
                                            </div>
                                            <div class="col">
                                                <label class=" item-label">Descrição</label><br>
                                                <output>
                                                    {{item.descricao}}
                                                </output>

                                            </div>
                                            <div class="col">
                                                <label class="item-label">Criado em</label><br>
                                                {{item.dataCriacao}}
                                            </div>
                                            <div class="col">
                                                <label class="item-label">Vencimento</label><br>
                                                {{item.dataVencimento}}
                                            </div>

                                            <div class="col">
                                                <label class="item-label">Completado?</label><br>
                                                <span v-if="item.completado">Sim</span>
                                                <span v-if="!item.completado">Não</span>

                                            </div>
                                            <div class="col">
                                                <button type="button" class="btn btn-primary" v-on:click="excluir(item)">Excluir</button>
                                                <button type="button" class="btn" v-on:click="alterar(item)"
                                                    data-toggle="modal" data-target="#formItem">Alterar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>



                    </div>
                    <div class="col-2">
                        3 of 3
                    </div>
                </div>


            </div>




            <!-- Modal para edição e inclusão de um novo item -->
            <div class="modal fade" id="formItem" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Tarefa</h5>
                            <button type="button" class="close" v-on:click="novo()" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>


                                <div class="form-group">
                                    <label for="txtTitulo">Titulo</label>
                                    <input id="txtTitulo" type="text" class="form-control" v-model="item.titulo">
                                </div>

                                <div class="form-group">
                                    <label for="txtDescricao">Descrição</label>
                                    <input id="txtDescricao" type="text" class="form-control" v-model="item.descricao">
                                </div>

                                <div class="form-group">
                                    <label>Data do Vencimento</label>
                                    <input type="date" class="form-control" v-model="item.dataVencimento">
                                </div>

                                <div class="form-group">
                                    <label>Completado?</label>
                                    <input type="checkbox" class="form-control" v-model="item.completado">
                                </div>


                                <div class="form-group">
                                    <label>Listas</label>
                                    <select v-model="item.lista">
                                        <option v-for="l in listas" v-bind:value="l">
                                            {{l.nome}}
                                        </option>
                                    </select>
                                </div>


                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" v-on:click="salvar(), novo()" data-dismiss="modal">Salvar</button>
                            <button type="button" class="btn btn-primary" v-on:click="novo">Limpar Form</button>
                        </div>
                    </div>
                </div>
            </div>





        </div>
        <div class="col-3">
            3 of 3
        </div>
    </div>


    <script>
        var app = new Vue({
            el: '#app',
            data: {
                listas: [],
                lista: {},
                itens: [],
                item: {
                    id: '',
                    descricao: '',
                    dataCriacao: '',
                    dataVencimento: '',
                    completado: '',
                    deletado: '',
                    lista: {
                        id: '',
                        nome: '',

                    }
                }

            },
            created: function () {
                this.$http.get("http://localhost:8080/listas/").then(function (response) {
                    this.listas = response.body;
                }, function (response) {
                    console.log("Não funcionou");
                })

                /* this.$http.get("http://localhost:8080/itens/").then(function (response) {
                    this.itens = response.body;
                }, function (response) {
                    console.log("Não funcionou");
                })
*/
            },

            methods: {
                salvar: function () {

                    if (this.item.id == "") {
                        //corrigir o date now que vem com um formato numérico irregular que o bd não aceita
                        this.item.dataCriacao = new Date().toJSON().slice(0, 10).replace(/-/g, '-');
                        this.$http.post("http://localhost:8080/itens/item/cadastrar", this.item).then(function (response) { // como é um método post, eu digo quem eu quero mandar com o this.usuario de acordo com o formulário
                            this.itens.push(response.body);

                        }, function (response) {
                            console.log("Não funcionou");
                        })
                    } else {
                        this.$http.put("http://localhost:8080/itens/item/editar", this.item).then(function (response) { // como é um método post, eu digo quem eu quero mandar com o this.usuario de acordo com o formulário
                            var index = this.itens.indexOf(this.itemAlterar);
                            this.itens.splice(index, 1, response.body); //explicando splice. Quero alterar um cara a partir do index tal, apenas 1, passando esse objeto que vem do formulario(response.body)

                            // this.usuarios[index] = response.body;
                        }, function (response) {
                            console.log("Não funcionou");
                        })

                    }

                },




                excluir: function (itemExcluir) {
                    console.log(itemExcluir);
                    if (window.confirm("Tem certeza que deseja remover o usuario " + itemExcluir.titulo + "?")) {


                        this.$http.delete("http://localhost:8080/itens/item/apagar/" + itemExcluir.id).then(function (response) {
                            //remover do vetor
                            var indice = this.itens.indexOf(itemExcluir);
                            this.itens.splice(indice, 1);


                        }, function (response) {
                            console.log("Não funcionou o delete");
                        })

                    }

                },

                alterar: function (itemAlterar) {
                    this.itemAlterar = itemAlterar; //funciona pq nesse caso eu estou usando o this. para o escopo do vue, por isso o mesmo nome
                    this.item = Vue.util.extend({}, itemAlterar);
                },

                novo: function () {
                    this.item = {
                        id: '',
                        titulo: '',
                        descricao: '',
                        dataCriacao: '',
                        dataVencimento: '',
                        completo: '',
                        deletado: '',
                        lista: {

                        }
                    }
                },

                itensEmListaSelecionada: function (listaSelecionada) {

                    //var teste = JSON.stringify(listaSelecionada);
                    this.lista = listaSelecionada;
                    this.$http.get("http://localhost:8080/listas/lista/itens/" + this.lista.id).then(function (response) {
                        //this.itens = Vue.util.extend({}, response.body); ele faz a cópia, mas não entendi bem, parece que ele faz uma promise
                        this.itens = response.body;
                    }, function (response) {
                        console.log("Não deu certo");
                    })
                }


            },


        });



    </script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>